body {
    background: #f4f6fa;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
}
#barra {
    background: #0d6efd;
    padding: 10px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}

#barra ul {
    border: 1px solid rgba(120, 90, 255, 0.2);
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

#barra a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: block;
    font-size: 1.5rem;
    padding: 25px 15px;
    position: relative;
    text-transform: uppercase;
}

#barra a:hover {
    color: #dce9ff;
    text-decoration: underline;
}
#barra a:hover::after{
    width: 80px;
}

.container-form {
    max-width:1200px;
    margin: auto;
}

.form-label {
    margin-top: 12px;
}

#costo, #Categoria, #resultado, #Clima {
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 15px;
    font-size: 1.1rem;
}